*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180); 
  border-radius: 10px;
}